
.title{
    text-align: center;
}

.subtitle{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    text-align: center;
    margin-bottom: 3rem;
}

p{
    font-size: 1.2rem;
    /*font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua",*/
    /*Georgia, serif;*/
}

#nav_selectors_list{
    list-style-type: none;
    padding-inline-start: 0;
}

.nav_selector{
    border: 1px solid white;

    border-radius: 2rem;
    transition: 300ms;

}

.nav_selector:hover{
    background: #f7f7f7;
    border: 1px solid #c1c0c0;

}


.nav_selector_link{
    /*padding: 10px 0px !important;*/
    /*height: inherit;*/
    width: 100%;
    display: inline-block;
    padding: 1rem 1rem 1rem 0;

}

.nav_selector_link:hover{
    text-decoration: none;
}

.nav_selector_img{
    max-height: 175px;
    float: left;
    border-radius: 2rem;

    margin-right: 1rem;
    padding-left: 1rem;
}

.nav_selector_link p{
    color: black;
    /*padding-top: 40px;*/
}
