#info_button {
    height: 20px;
    width: 20px;
    margin: 5px;
}

.labelNode {
    fill: #555;
    font-family: Arial;
    font-size: 12px;
    pointer-events: None;
}

.info_button {
    height: 30px;
}

.info_panel, .info_button {
    z-index: 10;
}

.info_panel {
    background-color: darkgray;
}
