#info_button {
    height: 20px;
    width: 20px;
    margin: 5px;
}

.labelNode {
    fill: #555;
    font-family: Arial;
    font-size: 12px;
    pointer-events: None;
}

#toggle_button {
    height: 30px;
}

#toggle {
    z-index: 10;
}
