#sidebar {
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: maroon;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebarHide {
  width: 0px;
}
.sidebarShow {
  width: 250px;
}
